<?xml version="1.0" encoding = "utf-8"?>

<odoo>
    <menuitem
            id="Hospital_Menu"
            name="Hospital"
            web_icon = "hospital,static/description/1.png"
            sequence="0"
    />

    <menuitem id="Patient_Menu_Master"
              name="Patient"
              parent="Hospital_Menu"
              sequence="0"
    />

     <menuitem id="Appointment_Menu"
              name="Appointment"
              parent="Hospital_Menu"
              sequence="4"
    />

</odoo>
